#vote {
  display: none;
}

#no-vote {
  display: none;
}

#wellOne {
  position: relative;
  background-image: url("../img/trump.jpg");
  width: 100%;
  height: 1000px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
